/* setting background colors 
__________________________________________________*/

body {
	background-color: #fff;
}

#header {
	background-color: transparent;
}

#header img[src="media/misc/banner.png"]{
	height: 6vh;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#sidebar-button {
	position: fixed;
	top: 2vh;
	left: 2vw;
}

#sidebar-button img{
	height: 3vh;
	cursor: pointer;
}

/* voicenote icon formatting
__________________________________________________*/


#voicenotes {
	position: relative;
	width: 24em;
	height: 24em;
	border: dashed 1px;
	border-radius: 50%;
	margin: 1.75em auto 0;
}

#voicenotes img{
	display: block;
	margin: -2em;
	position: absolute;
	top:50%;
	left: 50%
}

#voicenotes img#amanda-emoji{
	transform: translate(12em);
}

.cloud{
	margin-left: auto;
	margin-top:auto;
	position: absolute;
	width: 100%;
}

#patrick-emoji{
	transform: rotate(45deg) translate(12em) rotate(-45deg);
}

#lily-emoji{
	transform: rotate(135deg) translate(12em) rotate(-135deg);
}

#joe-emoji{
	transform: translate(-12em);
}

#celeste-emoji{

}

#voicenotes img#charlotte-emoji{

}

#voicenotes img#hannah-emoji{

}

#voicenotes img#jenny-emoji{

}

#voicenotes img#jon-emoji{

}

#voicenotes img#nabi-emoji{

}

#voicenotes img#max-emoji{

}

#voicenotes img.emojis{
	width: 8vw;
	cursor: pointer;
	z-index: 100;
	-webkit-transition: opacity .5s ease-in-out;
  	-moz-transition: opacity .5s ease-in-out;
  	-ms-transition: opacity .5s ease-in-out;
  	-o-transition: opacity .5s ease-in-out;
  	transition: opacity .5s ease-in-out;
  	-webkit-transition: width .5s ease-in-out;
  	-moz-transition: width .5s ease-in-out;
  	-ms-transition: width .5s ease-in-out;
  	-o-transition: width .5s ease-in-out;
  	transition: width .5s ease-in-out;

}

#voicenotes img.emojis:hover {
	width: 10vw;
}

/* description frames formatting
__________________________________________________*/
#description-amanda {
	width:10vw;

}



/* bottom icon positions 
__________________________________________________*/

#icons {
	width: 100%;
}

#brain-icon {
    position: fixed;
    top: 12vh;
    left: 0px;
    bottom: 0px;
    width: 33vw;
    text-align: center;
}

#project-image{
  	-webkit-transition: opacity 2s ease-in-out;
  	-moz-transition: opacity 2s ease-in-out;
  	-ms-transition: opacity 2s ease-in-out;
  	-o-transition: opacity 2s ease-in-out;
  	transition: opacity 2s ease-in-out;
}

#brain-icon img{
	width: 15vw;
}

#brain-icon img:hover{

	width: 17vw;
  	-webkit-transition: width .5s ease-in-out;
  	-moz-transition: width .5s ease-in-out;
  	-ms-transition: width .5s ease-in-out;
  	-o-transition: width .5s ease-in-out;
  	transition: width .5s ease-in-out;
}

#book-icon {
	position: fixed;
    top: 75vh;
    left: 33vw;
    bottom: 0px;
    width: 33vw;
    text-align: center;
}


#book-icon img[src="media/allaboutlove/book.png"]{
	width: 12vw;
}

#book-icon img[src="media/allaboutlove/book.png"]:hover{
	width: 14vw;
  	-webkit-transition: width .5s ease-in-out;
  	-moz-transition: width .5s ease-in-out;
  	-ms-transition: width .5s ease-in-out;
  	-o-transition: width .5s ease-in-out;
  	transition: width .5s ease-in-out;
}

#arrow-icon {
	position: fixed;
    left: 66vw;
    bottom: 10vh;
    width: 33vw;
    text-align: center;
}

#arrow-icon img{
	width: 20vw;
}

#arrow-icon img:hover{
	width: 22vw;
  	-webkit-transition: width .5s ease-in-out;
  	-moz-transition: width .5s ease-in-out;
  	-ms-transition: width .5s ease-in-out;
  	-o-transition: width .5s ease-in-out;
  	transition: width .5s ease-in-out;
}



/* project description speech bubbles & buttons
__________________________________________________*/

#trigger-bubble {
  cursor: pointer;
}

.speech-bubble {
	position: relative;
	background: #00aabb;
	border-radius: .4em;
	width: 229px;
	height: 150px;
	padding: 60px 20px;
	margin: 1em 0;
	text-align: center;
	color: white;
	font-weight: bold;
	font-size: 200%;
	text-shadow: 0 -.05em .1em rgba(0,0,0,.3);
}

	.speech-bubble h1 {
		margin: 0;
		font-size: 100%;
		font-family: sniglet;
	}
	
	.speech-bubble h2 {
		margin: 0;
		font-size: 40%;
		font-weight: normal;
	}

.speech-bubble:after {
	content: '';
	position: absolute;
	top: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-bottom-color: #00aabb;
	border-top: 0;
	border-left: 0;
	margin-left: -10px;
	margin-top: -20px;
}

/* arrow button speech bubble
__________________________________________________*/

#trigger-arrow {
  cursor: pointer;
}

.speech-bubble-arrow {
	position: relative;
	background: #00aabb;
	border-radius: .4em;
	width: 229px;
	height: 150px;
	padding: 60px 20px;
	margin: 1em 0;
	text-align: center;
	color: white;
	font-weight: bold;
	font-size: 200%;
	text-shadow: 0 -.05em .1em rgba(0,0,0,.3);
	  -webkit-transition: display .5s ease-in-out;
  -moz-transition: display .5s ease-in-out;
  -ms-transition: display .5s ease-in-out;
  -o-transition: display .5s ease-in-out;
  transition: display .5s ease-in-out;
}

	.speech-bubble-arrow h1 {
		margin: 0;
		font-size: 100%;
		font-family: sniglet;
	}
	
	.speech-bubble-arrow h2 {
		margin: 0;
		font-size: 40%;
		font-weight: normal;
	}

.speech-bubble-arrow:after {
	content: '';
	position: absolute;
	top: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-bottom-color: #00aabb;
	border-top: 0;
	border-left: 0;
	margin-left: -10px;
	margin-top: -20px;
}

/* Content popup window
__________________________________________________*/
.content-modal {
	position: fixed;
	top: 10vh;
	left: 10vh;
  width: 80vw;
  height: 80vh;
  z-index: 2000;
  border:1px solid #666;
  background-color: #ffcc66;
  opacity: 0.93;
  display: none;
  cursor: move;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}

#trigger-content-popup {
  cursor: pointer;
}

a.content-modal-close {
  font-size: 10px;
  text-decoration: underline;
  position: relative;
  z-index: 2001;
  float: right;
  margin: 2px 2px 0 0;
  cursor: pointer;
}

/* Content formatting
__________________________________________________*/

#summary {
	width: 30vw;
}

#discussion {
	width: 38vw;
}

#questions {
	width: 38vw;
}

#curriculum {
	width: 35vw;
}

#download-button {
	width: 40vw;
}

#donate-text {
	width: 10vw;
}

#donate-button {
	width: 10vw;
}

/* Drop down issue menu
__________________________________________________*/

#issues-menu {
  max-height: 0;
  overflow: scroll;
  -webkit-transition: max-height .5s ease-in-out;
  -moz-transition: max-height .5s ease-in-out;
  -ms-transition: max-height .5s ease-in-out;
  -o-transition: max-height .5s ease-in-out;
  transition: max-height .5s ease-in-out;
}

#issues-menu.collapsed {
  max-height:0;
}


#issues-button {
  cursor:pointer;
}

.issue-items {
  height:105px;
  padding-left: 10px;
  padding-top: 20px;
  transition: height 0.3s ease-in-out;
}

.issue-items:hover {
  height: 120px;
} 

.issue-title {
  padding-left: 10px;
  text-align: center;
  color:#1EAEDB;
  font-size: 10px;
  padding-bottom: 15px;
}

p.sidebarItem {
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    padding-top: 40px;
    margin: auto;
    font-size: 20px;
    font-family: Courier;
    font-style: italic;
    text-transform: uppercase;
    color: rgb(149, 190, 208);
}

/* Drop down toc
__________________________________________________*/

#toc-button {
  cursor:pointer;
}

#toc-menu {
  width: 200px;
  font-size: 10px;
  display: none;
  -webkit-transition: max-height .5s ease-in-out;
  -moz-transition: max-height .5s ease-in-out;
  -ms-transition: max-height .5s ease-in-out;
  -o-transition: max-height .5s ease-in-out;
  transition: max-height .5s ease-in-out;
}


/* Resource Modal
__________________________________________________*/

.resource-modal {
  position: fixed;
  top: 60px;
  left: 200px;
  width: 300px;
  height: 200px;
  z-index: 2000;
  border:1px solid #666;
  background-color: #ffcc66;
  opacity: 0.95;
  display: none;
  cursor: move;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}

#trigger-resource-modal {
  cursor: pointer;
}

a.resource-modal-close {
  font-size: 10px;
  text-decoration: underline;
  position: relative;
  z-index: 2001;
  float: right;
  margin: 2px 2px 0 0;
  cursor: pointer;
}

.resource-modal-content {
  display: block;
  margin: 0 auto;
  font-size: 12px;
  line-height: 18px;
  margin: 10px;
}

/* w3 formatting
__________________________________________________*/

.w3-container{padding:0.01em 16px}
.w3-container:after,.w3-container:before{content:"";display:table;clear:both}

.w3-button{
	border:none;
	display:inline-block;
	padding:8px 16px;
	vertical-align:middle;
	overflow:hidden;
	text-decoration:none;
	color:inherit;
	background-color:inherit;
	text-align:center;
	cursor:pointer;
	white-space:nowrap
}

.w3-button{
	-webkit-touch-callout:none;
	-webkit-user-select:none;
	-khtml-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none
}  


.w3-button:disabled{
	cursor:not-allowed;
	opacity:0.3
}

.w3-button:first-child,.w3-dropdown-click:hover > .w3-button:first-child{color:#000}
.w3-bar-block .w3-dropdown-hover .w3-button,.w3-bar-block .w3-dropdown-click .w3-button{text-align:left;padding:8px 16px}
.w3-button{white-space:normal}

.w3-button:hover{color:#000!important;background-color:#ccc!important}


.w3-bar-block .w3-dropdown-hover,.w3-bar-block .w3-dropdown-click{width:100%}
.w3-bar-block .w3-dropdown-hover .w3-dropdown-content,.w3-bar-block .w3-dropdown-click .w3-dropdown-content{min-width:100%}
.w3-bar-block .w3-dropdown-hover .w3-button,.w3-bar-block .w3-dropdown-click .w3-button{width:100%;text-align:left;padding:8px 16px}
.w3-main,#main{transition:margin-left .4s}
.w3-modal{z-index:3;display:none;padding-top:100px;position:fixed;left:0;top:0;width:100%;height:100%;overflow:auto;background-color:rgb(0,0,0);background-color:rgba(0,0,0,0.4)}
.w3-modal-content{margin:auto;background-color:#fff;position:relative;padding:0;outline:0;width:600px}
.w3-bar{width:100%;overflow:hidden}.w3-center .w3-bar{display:inline-block;width:auto}
.w3-bar .w3-bar-item{padding:8px 16px;float:left;width:auto;border:none;display:block;outline:0}
.w3-bar .w3-dropdown-hover,.w3-bar .w3-dropdown-click{position:static;float:left}
.w3-bar .w3-button{white-space:normal}
.w3-bar-block .w3-bar-item{width:100%;display:block;padding:8px 16px;text-align:left;border:none;white-space:normal;float:none;outline:0}
.w3-bar-block.w3-center .w3-bar-item{text-align:center}.w3-block{display:block;width:100%}
.w3-responsive{display:block;overflow-x:auto}

.w3-bar-item{padding:8px 16px;float:left;width:auto;border:none;display:block;outline:0}
.w3-bar-item.w3-mobile,.w3-dropdown-hover.w3-mobile,.w3-dropdown-click.w3-mobile{text-align:center}

.w3-sidebar.w3-collapse{display:block!important}}
@media (max-width:992px) and (min-width:601px){.w3-hide-medium{display:none!important}}
@media (max-width:992px){.w3-sidebar.w3-collapse{display:none}.w3-main{margin-left:0!important;margin-right:0!important}}

.w3-sidebar{height:100%;width:200px;background-color:#fff;position:fixed!important;z-index:1;overflow:auto}

.w3-animate-left{position:relative;animation:animateleft 0.4s}@keyframes animateleft{from{left:-300px;opacity:0} to{left:0;opacity:1}}

.w3-card,.w3-card-2{box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)}
.w3-card-4,.w3-hover-shadow:hover{box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19)}

.w3-large{font-size:18px!important}
.w3-xlarge{font-size:24px!important}

/* Sidebar
__________________________________________________*/
body {
    padding: 0;
    margin: 0;
}


@import url(https://fonts.googleapis.com/css?family=Graduate);

html, body {
margin: 0;
padding: 0; }


.toggle {
text-decoration: none;
font-size: 2em;
color: rgba(0, 0, 0, 0.61);
-webkit-transition: all 0.15s ease-out 0;
-moz-transition: all 0.15s ease-out 0;
transition: all 0.45s ease-out 0;
position: fixed;
top: 20px;
left: 20px;
z-index: 1;
cursor: pointer;
}

.sidebar {
position: fixed;
top: 0px;
bottom: 0px;
left: -190px;
-webkit-transition: all 0.15s ease-out 0;
-moz-transition: all 0.15s ease-out 0;
transition: all 0.15s ease-out 0;
width: 8rem;
padding: 1.5em;
background: #19C4BC; 
}

.sidebar ul {
list-style: none;
margin: 0;
padding: 0; 
}

.sidebar li a {
color: #fff;
font-family: 'Graduate';
text-transform: uppercase;
font-size: 1.2em;
margin: 0;
margin-bottom: 16px;
cursor: pointer;
text-decoration: none;
line-height: 200%;
}

.sidebar a:hover {
  color: rgba(0, 0, 0, 0.61); 
}

#slide:checked + .container .sidebar {
left: 0px;
 }

#slide:checked + .container .toggle {
left: 200px;
 }


#slide {
display: none; 
}


#parent {
    margin-top: 50px;
    margin-left: 200px;
}

