html, body {
    width: 100%;
}

#issue_list tr td {
    margin: 0px auto;
}

#issue_list tr td a {
    text-align: center;
}

#issue_list {
    margin: 0px auto;
}

.issue_cover {
    height: 20%;
    border: 1px solid black;
    margin-left: 50px;
    margin-right: 50px;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}

.issue_cover:hover {
    border: 1px dotted black;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}
