#items {
    overflow-x: scroll;
    width: auto;
    white-space: nowrap;
}
.items {
  width: 35vw;
  padding-left: 20%;
}
body {
  width: 100%;
}
#cover {
    outline: 1px solid black;
    padding-left: 0%;
}
#sidebar {
    padding-right: 20%;
}

/* \-----\ \----\ \---\ \--\ \-\ OLD /-/ /--/ /---/ /----/ /-----/ */

.sidebarItem {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    font-size: 20px;
    font-family: Optima;
    font-style: italic;
    text-transform: uppercase;
    color: rgb(149, 190, 208);
}
a {
  /*color: black;*/
  color: rgb(149, 190, 208);
  text-decoration: none;
}
.title  {
  width: 100%;
  padding-right: 0%;
}
