/* set default font and font color */
* {
    font-family: monospace;
    color: black;
    font-size: 14px;
}

/* make sure html/body takes up full height of browser */
html, body {
   height: 100%;
   margin: 0px;
   padding: 0px;
}

/* set common attributes for sidebar and pages */
#menu, #pages {
   display: inline-block;
   margin: 0px;
   padding: 0px;
   position: relative;
}

/* set sidebar attributes */
#menu {
   margin-left: 50px;
   margin-right: 50px;
   border: 1px dotted rgb(200, 150, 150);
   padding: 5px;
}

#menu * {
   display: block;
   padding: 3px;
}

/* set attributes for pages */
#pages {
   top: 50%;
   margin-top: -320px;
}

#pages * {
   display: block;
}

.page {
   height: 600px;
   border: 1px solid black;
   -webkit-transition: width 1s, height 1s;
   transition: width 1s, height 1s;
}

.page:hover {
   height: 610px;
}

.caption {
   text-align: center;
}
