
table {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5%;
  padding-bottom: 5%;
  /*padding-right: 10%;*/
  /*padding-left: 8%;*/


}

html {
  background-repeat: no-repeat;
background-attachment: fixed;
  /*background-color: rgb(255, 186, 208);*/
  background: -webkit-linear-gradient(rgb(255, 186, 208), rgb(252, 255, 167)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(rgb(255, 186, 208), rgb(252, 255, 167)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(rgb(255, 186, 208), rgb(252, 255, 167)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(rgb(255, 186, 208), rgb(252, 255, 167)); /* Standard syntax */
}

.sidebarItem {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    font-size: 20px;
    font-family: Optima;
    font-style: italic;
    text-transform: uppercase;
    color: rgb(149, 190, 208);
}

a {
  /*color: black;*/
  color: rgb(149, 190, 208);
  text-decoration: none;
}
.L_Arrow {
  /*font-size: 30px;
  padding-right: 1%;*/
}
.R_Arrow {
  /*font-size: 30px;
  padding-left: 3%;*/
}
.image {
  width: 90%;
}
.images {
  width:50%
}

.title  {
  width: 100%;
  padding-right: 0%;
}

.about  {
  font-family: Optima;
  color: rgb(96, 149, 170);
}
